*, ::after, ::before{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clip {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

.ant-btn.ant-btn-primary.ant-btn-sm{
  color: rgb(103, 103, 240);
}

.ant-btn.ant-btn-primary.ant-btn-sm:hover {
color: white;}